<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
</head>
<!-- <body class="bg-gray-800 text-white">
    <div class="flex flex-col h-screen">
        <h1 class="text-3xl">Title</h1>
        <div class="flex-grow flex items-center justify-center">
            <div class="w-full max-w-lg p-4 bg-gray-700 rounded-xl shadow-md">
                    <img src="/video_feed" class="object-cover rounded-lg" alt="Live Video Stream">
            </div>
        </div>
    </div>
</body> -->

<body>
    <div class="min-h-screen bg-gradient-to-r from-purple-300 via-pink-200 to-red-200 dark:from-gray-900 dark:via-gray-800 dark:to-gray-700 flex items-center justify-center">
        <div class="w-full h-full max-w-md mx-auto bg-white shadow-md rounded-lg overflow-hidden dark:bg-zinc-900">
          <div class="flex justify-between items-center px-6 py-4">
            <div class="flex items-center mx-auto my-auto">
                <svg height="36px" width="36px" viewbox="0 0 100 100">
                    <path>
                      <animate 
                         attributeName="d" 
                         dur="3000ms" 
                         repeatCount="indefinite"
                         keyTimes="0;
                                   .0625;
                                   .3125;
                                   .395833333;
                                   .645833333;
                                   .833333333;
                                   1"
                         calcMode="spline" 
                         keySplines="0,0,1,1;
                                     .42,0,1,1;
                                     0,0,.58,1;
                                     .42,0,.58,1;
                                     .42,0,.58,1;
                                     .42,0,.58,1"
                             
                         values="M 0,0 C 50,0 50,0 100,0 100,50 100,50 100,100
                                 50,100 50,100 0,100 0,50 0,50 0,0 Z;
                                       
                                 M 0,0 C 50,0 50,0 100,0 100,50 100,50 100,100
                                 50,100 50,100 0,100 0,50 0,50 0,0 Z; 
                  
                                 M 50,0 C 75,50 75,50 100,100 50,100 50,100 0,100
                                 12.5,75 12.5,75 25,50 37.5,25 37.5,25 50,0 Z;
                  
                                 M 50,0 C 75,50 75,50 100,100 50,100 50,100 0,100
                                 12.5,75 12.5,75 25,50 37.5,25 37.5,25 50,0 Z;
                  
                                 M 100,50 C 100,77.6 77.6,100 50,100 22.4,100 0,77.6
                                 0,50 0,22.4 22.4,0 50,0 77.6,0 100,22.4 100,50 Z;
                                       
                                 M 100,50 C 100,77.6 77.6,100 50,100 22.4,100 0,77.6 
                                 0,50 0,22.4 22.4,0, 50,0 77.6,0 100,22.4 100,50 Z;
                                       
                                 M 100,100 C 50,100 50,100 0,100 0,50 0,50 0,0
                                 50,0 50,0 100,0 100,50 100,50 100,100 Z;"/>
                      <animate 
                         attributeName="fill"
                         dur="3000ms" 
                         repeatCount="indefinite"
                         keyTimes="0;
                                   .0625;
                                   .3125;
                                   .395833333;
                                   .645833333;
                                   .833333333;
                                   1"
                         calcMode="spline" 
                         keySplines="0,0,1,1;
                                     .42,0,1,1;
                                     0,0,.58,1;
                                     .42,0,.58,1;
                                     .42,0,.58,1;
                                     .42,0,.58,1"
                         values="#FFA400;
                                 #FFA400;
                                 #FF4E42;
                                 #FF4E42;
                                 #0CCE6B;
                                 #0CCE6B;
                                 #FFA400;"/>
                    </path>
                  </svg>
                  
                <div class="mx-3">
                <h3 class="text-lg font-medium text-gray-700 dark:text-gray-200">Scanning...</h3>
                <p class="text-gray-500 dark:text-gray-400">Looking for identifiers...</p>
              </div>
            </div>
            <div class="flex items-center">
              
            </div>
          </div>
          <div class="relative">
            <img src="/video_feed" class="object-cover rounded-lg" alt="Live Video Stream">
          </div>
          <div class="px-6 py-4 text-zinc-300">
            <div class="flex items-center">
              <div class="w-full mx-3 flex">
                <h2 class="text-2xl">No match.</h2>
                <svg id="svg">
                </svg>
          </div>
        </div>
      </div>

      <script type="text/javascript">
        const socket = io.connect('http://localhost:5000');
        const svg = document.getElementById('svg');

        socket.on('connect', () => {
            console.log('Connected to server');
        });

        socket.on('update', (data) => {
            console.log('Update received:', data);
            svg.innerHTML = ""
            
            switch(data.data) {
                case "Blue Rectangle":
                    var shape = document.createElementNS('http://www.w3.org/2000/svg', 'rect');

                    shape.setAttribute('width', '36');
                    shape.setAttribute('height', '36');
                    shape.setAttribute('style', 'fill:rgb(0,0,255);stroke-width:3;stroke:rgb(0,0,0)');
                    
                    svg.appendChild(shape); 
                    break;
                case "Blue Triangle":
                var shape = document.createElementNS('http://www.w3.org/2000/svg', 'polygon');
                    shape.setAttribute('points', '18,1 36,36 1,36');
                    shape.setAttribute('style', 'fill:blue;');
                    
                    svg.appendChild(shape);
                    break;
                case "Blue Circle":
                var shape = document.createElementNS('http://www.w3.org/2000/svg', 'circle');

                    shape.setAttribute('cx', '18');
                    shape.setAttribute('cy', '18');
                    shape.setAttribute('r', '18');
                    shape.setAttribute('stroke', 'none');
                    shape.setAttribute('stroke-width', '3');
                    shape.setAttribute('fill', 'blue');

                    svg.appendChild(shape);
                    break;
                case "Green Rectangle":
                var shape = document.createElementNS('http://www.w3.org/2000/svg', 'rect');

                    shape.setAttribute('width', '100');
                    shape.setAttribute('height', '100');
                    shape.setAttribute('style', 'fill:rgb(0,255,0);stroke-width:3;stroke:rgb(0,0,0)');
                    
                    svg.appendChild(shape); 
                    break;
                case "Green Triangle":
                var shape = document.createElementNS('http://www.w3.org/2000/svg', 'polygon');

                    shape.setAttribute('points', '18,1 36,36 1,36');
                    shape.setAttribute('style', 'fill:green;');
                    
                    svg.appendChild(shape);
                    break;
                case "Green Circle":
                var shape = document.createElementNS('http://www.w3.org/2000/svg', 'circle');

                    shape.setAttribute('cx', '18');
                    shape.setAttribute('cy', '18');
                    shape.setAttribute('r', '18');
                    shape.setAttribute('stroke', 'none');
                    shape.setAttribute('stroke-width', '3');
                    shape.setAttribute('fill', 'green');

                    svg.appendChild(shape);
                    break;
            }
        });
    </script>
</body>